:root {
  font-family: 'Noto Sans KR', 'Roboto', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --light-yellow: #fef8e2;
  --light-brown: #caa477;
  --bright-coral: #f5cfb8;
  --signup-input: #939393;
  --placehodler-gray: #b8b8b8;
  --dark-gray: #595959;
  --logo-color: #b26000;
  --brown-color: #b07127;
  --black-color: #030303;
  --orange-color: #fc461e;
  --red-color: #f53535;
  --white-color: #ffffff;
  --rose-color: #d34f4d;

  /* border-radius */
  --border-radius: 3px;
}
